default to border-box html {
  box-sizing: border-box;
  font-size: 20px;
  scroll-padding-top: 5rem;
}

/* adjust typography defaults */
body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #fefffe;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  font-family: "Work Sans", sans-serif;
}

img {
  height: auto;
  max-width: auto;
}

h3 {
  color: #713e5a;
  font-size: 50px;
  margin: 10px;
}

.page-title {
  align-items: center;
}

div {
  padding-left: 10%;
  padding-right: 10%;
}

.div-container {
  position: relative;
  padding: 20px;
  width: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.div1 {
  padding: 20px;
  text-align: center;
  background-color: #e9ebf8;
  border-radius: 5px;
  color: #786a7a;
}

.div2 {
  padding: 20px;
  text-align: center;
  background-color: #b4b8c5;
  border-radius: 5px;
}

a {
  background-color: #dddddd;
  padding: 2px;
  border-radius: 5px;
  color: #713e5a;
  font-size: 105%;
}

.div3 {
  padding: 20px;
  text-align: center;
  background-color: #8d818c;
  border-radius: 5px;
}

nav {
  background-color: #592943;
  padding: 2px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
}
