/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 20px;
  scroll-padding-top: 5rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  /*   margin: 1rem; */
  font-family: sans-serif;
  line-height: 1.5;
  color: #fefffe;
  background-color: #713e5a;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 7%;
  /*     margin-top: 15%; */
  font-family: "Work Sans", sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: auto;
  /*     height: 10%;
    width: 10%; */
}

h3 {
  color: #713e5a;
  font-size: 50px;
  margin: 10px;
}

a {
  position: relative;
  color: #fefffe;
  text-decoration: none;
}

div {
  padding-left: 20px;
  padding-right: 20px;
}

.div-container {
  position: relative;
  padding: 20px;
  /*     top:50%; */
  /*     left:-25%; */
  width: 125%;
  left: 50%;
  transform: translateX(-50%);
  /*     transform: translate(-50%, -40%); */
}

.div1 {
  padding: 20px;
  text-align: center;
  background-color: #e9ebf8;
  border-radius: 5px;
  color: #786a7a;
}

.div2 {
  padding: 20px;
  text-align: center;
  background-color: #b4b8c5;
  border-radius: 5px;
}

a:hover{
  background-color: #dddddd;
  padding: 2px;
  border-radius: 5px;
  color: #713e5a;
  font-size: 105%;
}

.div3 {
  padding: 20px;
  text-align: center;
  background-color: #8d818c;
  border-radius: 5px;
}

nav {
  background-color: #592943;
  padding: 2px;
  z-index:10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
}